
@import './../globalMixin.scss';

.wrapperMovie{
 @include setWrapper();
 background-color: #fff;

}
.imageTopSlider{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 800px;
    
}